numpy
pandas
beautifulsoup4
fastapi[standard]

playwright
selenium
webdriver-manager

openai
anthropic

faiss-cpu
elasticsearch

langchain
langchain-core
langchain-openai
langchain-upstage
langchain-community
langchain-huggingface
langchain-elasticsearch
