keys.env

data/
vllm/
wandb/
output/
__pycache__/
train_results/
tokenizer/
llama_singleGPU-v1/
beomi_Llama-3-Open-Ko-8B-Bingsu_ko_alpaca_data-QLoRA/
beomi_Llama-3-Open-Ko-8B-Bingsu_ko_alpaca_data-QDoRA/