transformers==4.36.2
datasets==3.1.0
evaluate==0.4.1
huggingface-hub==0.26.2
nltk==3.9.1
spacy==3.7.6
sentence-transformers==2.7.0
tokenizers==0.15.2
faiss-cpu==1.8.0
peft==0.7.1
rouge-score==0.1.2
langchain==0.1.20
langchain-openai==0.1.6
optimum==1.19.1
diffusers==0.27.2
auto_gptq==0.7.1
autoawq==0.2.5
bitsandbytes==0.41.0
trl==0.8.6
llama-index==0.10.34
xformers==0.0.27.post2