tqdm
numpy
pandas 

fastapi 
uvicorn[standard]

requests
selenium
webdriver-manager 

easyocr
pytesseract
opencv-python

transformers
huggingface_hub

langchain
langchain_openai
langchain_upstage
langchain_community
langchain_huggingface